[Unit]
Description=Arma 3 Server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart={{ steam_server_directory }}arma3server "`cat launchparam.cfg`" 
User={{ steamcmd_user }}

[Install]
WantedBy=multi-user.target