//
// server.cfg
//
// comments are written with "//" in front of them.


// Basic Settings.
hostname = "{{Arma3Server_HostName}}";		// The name of the server that shall be displayed in the public server list
password = "{{Arma3Server_Password}}";					// Password for joining, eg connecting to the server
passwordAdmin = "{{Arma3Server_AdminPassword}}";				// Password to become server admin. When you're in Arma MP and connected to the server, type '#login xyz'
serverCommandPassword = "{{Arma3Server_ServerCommandPassword}}";               // Password required by alternate syntax of [[serverCommand]] server-side scripting.
logFile = "{{Arma3Server_LogFile}}";			// Tells ArmA-server where the logfile should go and what it should be called
persistent = {{Arma3Server_EnableMissionPersistance}};	// If 1, missions still run on even after the last player disconnected.
BattlEye = {{Arma3Server_EnableBattleEye}};					// Server to use BattlEye system

// WELCOME MESSAGE ("message of the day")
// It can be several lines, separated by comma
// Empty messages "" will not be displayed at all but are only for increasing the interval
motd[] = {{Arma3Server_MOTD}};
motdInterval = {{MOTDInterval}};				// Time interval (in seconds) between each message


// Joining Settings
maxPlayers = {{Arma3Server_MaxPlayers}};				// Maximum amount of players. Civilians and watchers, beholder, bystanders and so on also count as player.
kickDuplicate = {{Arma3Server_KickDuplicate}};				// Each ArmA version has its own ID. If kickDuplicate is set to 1, a player will be kicked when he joins a server where another player with the same ID is playing.
verifySignatures = {{Arma3Server_VerifySignatures}};				// Verifies .pbos against .bisign files. Valid values 0 (disabled), 1 (prefer v2 sigs but accept v1 too) and 2 (only v2 sigs are allowed). 
allowedFilePatching = {{Arma3Server_AllowFilePatching}};                        // Allow or prevent client using -filePatching to join the server. 0, is disallow, 1 is allow HC, 2 is allow all clients (since Arma 3 1.49+)
filePatchingExceptions[] = { {{Arma3Server_FilePatchingExceptions}} }; // Whitelisted Steam IDs allowed to join with -filePatching enabled 

// Mission Settings
randomMissionOrder = {{Arma3Server_EnableRandomMissionOrder}}; // Randomly iterate through Missions list
autoSelectMission = {{Arma3Server_AutoSelectNextMission}}; // Server auto selects next mission in cycle
class Missions { {{Arma3Server_MissionWhitelist}} };				// An empty Missions class means there will be no mission rotation
missionWhitelist[] = { {{Arma3Server_MissionRotationList}} }; // An empty whitelist means there is no restriction on what missions' available

// Voting Settings
voteMissionPlayers = {{Arma3Server_MissionPlayers}};				// Tells the server how many people must connect so that it displays the mission selection screen.
voteThreshold = {{Arma3Server_VoteThreshold}};				// 33% or more players need to vote for something, for example an admin or a new map, to become effective

// Voice Over Network Settings
disableVoN = {{Arma3Server_VonEnabled_Fix}};					// If set to 1, Voice over Net will not be available
vonCodec = {{Arma3Server_VonCodec}}; 					// If set to 1 then it uses IETF standard OPUS codec, if to 0 then it uses SPEEX codec (since Arma 3 update 1.58+)  
vonCodecQuality = {{Arma3Server_VonQuality}};				// since 1.62.95417 supports range 1-20 //since 1.63.x will supports range 1-30 //8kHz is 0-10, 16kHz is 11-20, 32kHz(48kHz) is 21-30 

// Timeout Settings
kickClientsOnSlowNetwork[] = { {{Arma3Server_KickOnSlowNetwork}} }; //Defines if {<MaxPing>, <MaxPacketLoss>, <MaxDesync>, <DisconnectTimeout>} will be logged (0) or kicked (1)
disconnectTimeout = {{Arma3Server_DisconnectTimeout}}; // Time to wait before disconnecting a user which temporarly lost connection. Range is 5 to 90 seconds.
maxDesync = {{Arma3Server_MaxDesyncTimeout}}; // Max desync value until server kick the user
maxPing= {{Arma3Server_MaxPingTimeout}}; // Max ping value until server kick the user
maxPacketLoss= {{Arma3Server_MaxPacketLossTimeout}}; // Max packetloss value until server kick the user

kickTimeout[] = { {{Arma3Server_RejoinTimeout}} };.
votingTimeOut[] = { {{Arma3Server_VotingIdleTimeout}} }; 
roleTimeOut[] = { {{Arma3Server_RoleSelectionIdleTimeout}} }; 
briefingTimeOut[] = { {{Arma3Server_BriefingIdleTimeout}} }; 
debriefingTimeOut[] = { {{Arma3Server_LobbyIdleTimeout}} }; 
lobbyIdleTimeout = {{Arma3Server_LobbyIdleTimeout}}; 

// Scripting Settings
onUnsignedData = "{{Arma3Server_OnUnsignedData}}";	// unsigned data detected
onHackedData = "{{Arma3Server_OnHackedData}}";		// tampering of the signature detected
onDifferentData = "{{Arma3Server_OnDifferentData}}";				// data with a valid signature, but different version than the one present on server detected
onUserConnected = "{{Arma3Server_OnUserConnected}}";				//
onUserDisconnected = "{{Arma3Server_OnUserDisconnected}}";			//
doubleIdDetected = "{{Arma3Server_OnDoubleIdDetected}}";				//

// Misc Settings				
allowedLoadFileExtensions[] = { {{Arma3Server_AllowedLoadFileExtensions}} }; //only allow files with those extensions to be loaded via loadFile command (since Arma 3 build 1.19.124216)
allowedPreprocessFileExtensions[] = { {{Arma3Server_AllowedPreprocessFileExtensions}} }; //only allow files with those extensions to be loaded via preprocessFile/preprocessFileLineNumber commands (since Arma 3 build 1.19.124323)
allowedHTMLLoadExtensions[] = { {{Arma3Server_AllowedHTMLLoadExtensions}} }; //only allow files with those extensions to be loaded via HTMLLoad command (since Arma 3 build 1.27.126715)
timeStampFormat = {{Arma3Server_TimeStampFormat}};			// Set the timestamp format used on each report line in server-side RPT file. Possible values are "none" (default),"short","full".
